.special-products-wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin-top: 11rem;

  .special-product-head {
    padding: 4.3rem;

    h1 {
      text-align: center;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
    }

    .filter-special-product {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      max-width: 76rem;
      margin-top: 4.2rem;

      button {
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 1;

        padding: 1rem 2rem;

        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
      }

      .btn-active {
        border: 1px solid #353535;
        background: #353535;
        color: #ffffff;
      }
      svg {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
  .suggest-product {
    margin-bottom: 5rem;
  }
}
