

.slider-product-element {
    .slick-prev::before{
        color: #000;
      }
    .slick-next::before{
        color: #000;
    }

    .slick-slide {
        div{
           text-align: center;
        }
        .slider-item{
            width: 23rem !important;
        }

    }
}