.Home-page {
  width: 100%;
  max-width: var(--max-width);
  margin-top: 11rem;

  .slider {
    .carousel {
      height: 80rem;
      width: 100%;

      img {
        height: 80rem;
        filter: brightness(0.4);
      }

      .carousel-caption {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        text-align: left;

        h1 {
          font-weight: 700;
          font-size: 72px;
          line-height: 88px;
          color: #ffffff;
        }

        p {
          font-weight: 400;
          font-size: 30px;
          line-height: 40px;
          color: #ffffff;
        }

        button {
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
          height: 50px;
          width: 200px;
          border-radius: 0%;
        }
      }
    }
  }

  .slogan {
    text-align: center;
    padding: 5rem;

    h3 {
      font-family: "Modern Antiqua";
      font-style: normal;
      font-weight: 500;
      font-size: 4.7rem;
      line-height: 5.6rem;
      margin: 0rem;
    }

    .para-1 {
      padding: 0px 12%;
      margin: 22px 0px;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;

      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .para-2 {
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 37px;
    }
  }

  .product {
    width: 100%;
    padding: 5rem 3rem;
    text-align: center;
    height: auto;

    h3 {
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
    }
  }

  .about-us {
    .baner-img {
      width: 100%;
      height: 39rem;
      background-image: url("https://res.cloudinary.com/tanthanh0805/image/upload/v1645178807/LuxyWine/Banner_fxehr3.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    h3 {
      font-family: "Modern Antiqua";
      font-style: normal;
      font-weight: 500;
      font-size: 5rem;
      line-height: 5.7rem;
      padding-top: 4rem;
      padding-bottom: 1rem;
      margin: 0;
    }

    p {
      padding: 0px 12%;
      margin: 20px 0px;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;

      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    text-align: center;
  }

  .customer-review {
    text-align: center;
    padding: 8rem 2rem 4rem;

    h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
    }

    .body-review {
      display: flex;
      justify-content: center;
      padding: 3rem;

      .card {
        text-align: start;
        border-radius: 1px;
        background-color: #242424;
        color: #ffffff;
        margin: 10px 0px !important;
        max-width: 100rem;

        .body {
          padding: 1.6rem;

          .card-img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              height: 15rem;
              width: 15rem;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .assess {
            padding: 2px 0px;
            align-items: center;

            svg {
              height: 2rem;
              width: 2rem;
            }
          }

          .card-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
          }

          .card-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #b6b6b6;
          }
        }
      }
    }
  }

  .gg-map {
    padding-top: 20px;

    .map-img {
      width: 100%;
      height: 39rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("https://res.cloudinary.com/tanthanh0805/image/upload/v1645183607/LuxyWine/map_x6oy63.png");
    }
  }
}
