.manage-wapper {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .se-btn {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

.leading-icon-button {
  align-items: center;
}
