.voucher-list__wrapper {
    .voucher-list__title {
        padding: 0rem 4rem;
        margin-top: 3rem;
    }

    h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 0rem;
    }

    .voucher-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 140rem;
        min-width: 104rem;
        padding: 1.8rem;
        margin-bottom: 3rem;
        .voucher-item{
            margin-bottom: 2rem;
        }

        .voucher-list-footer {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 2rem;
        }
    }
}