.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 114rem;
  min-width: 104rem;
  padding: 1.8rem;

  .product-list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1.5rem;
  }
}

.watch-cart-trigger {
  background-color: var(--primary-color);
  padding: 8px 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;

  transition: 0.2s;
  border-radius: 1px;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.watch-cart-trigger-wrapper {
  position: fixed;
  right: 50px;
  top: 100px;
  z-index: 900;
}

.cart-header {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 2rem;

  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 4.4rem;
  }

  p {
    font-weight: 500;
    font-size: 2rem;
    line-height: 4.4rem;
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

.cart-body {
  width: 100%;
  margin: 0rem;

  .list-product {
    padding: 0rem 2rem;
    margin-bottom: 4rem;
  }

  .receipt-briefing {
    display: flex;
    justify-content: center;
    padding: 0rem 2rem;
    margin-bottom: 4rem;

    div {
      width: 100%;
      max-width: 40rem;
    }

    h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 0.7rem;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    .total-price {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 40rem;
      margin-top: 1.9rem;

      P {
        font-weight: 700;
        margin-bottom: 0.3rem;
      }
    }

    hr {
      max-width: 40rem;
    }

    .button-group {
      button {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding: 0.9rem 0rem;
        width: 100%;
        max-width: 40rem;
      }

      .btn-buy {
        color: #ffffff;
        background-color: #000000;
        border: 1px solid #000000;
        margin-bottom: 1.3rem;
      }

      .btn-to-store {
        color: #000000;
        background-color: #ffffff;
        border: 1px solid #000000;
      }

      button:hover {
        filter: none;
      }
    }
  }
}

.animateOpen {
  animation: moveOpen 3ss;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
/* Safari and Chrome */
@keyframes moveOpen {
  from {
    transform: translate(0, -100px);
  }
  10% {
    transform: translate(0, 20px);
  }
  12% {
    transform: translate(0, 22px);
  }
  16% {
    transform: translate(0, 20px);
  }
  80% {
    transform: translate(0, 20px);
  }
  85% {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(0, -100px);
  }
}
