.payment-wrapper {
    margin-top: 13rem;
    width: 100%;
    max-width: var(--max-width);

    .payment-title {
        font-weight: 700;
        font-size: 3.4rem;
        line-height: 4.4rem;
        color: #000000;
        margin-bottom: 2.2rem;
        padding-left: 1.25rem;
    }
   
}