.profile-wrapper{
    width: 100%;
    max-width: var(--max-width);
    margin-top: 12rem;
    margin-bottom: 5rem;

    .profile-row{
        padding: 2rem;
        .profile-col_right{
            .transaction-history{
                h1 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #000000;
                    margin-bottom: 3.6rem;
                }
            }
        }
    }
}