.product-detail-info-wrapper {
    padding: 2.4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;

    .left-grid {
        .left-grid-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                margin-right: 3rem;
                min-width: 20rem;

                h1 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #6C6C6C;
                    margin-bottom: 1rem;
                }

                .temperature {
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 59px;
                    color: #000000;
                }

                .product-color {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 1.5rem;

                    svg {
                        height: 2.7rem;
                        width: 2.7rem;
                        margin-right: 1rem;
                        margin-left: 1rem;
                    }

                    .product-color-red {
                        color: #880000;
                    }

                    .product-color-white {
                        color: #c7c7c7;
                    }

                    .product-color-pink {
                        color: #fa5dcb;
                    }

                    .product-color-blue {
                        color: #5dbbfa;
                    }
                }

                .food-product {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;

                    img {
                        height: 4rem;
                        width: 4rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .right-grid {

        .list-item {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            min-height: 10rem;

            .information-item {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                min-width: 25rem;
                height: 5rem;
                margin-right: 2rem;

                h5 {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                    margin-bottom: 0;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 0;
                    margin-left: 1rem;
                }
            }

        }

        .description-item {
            h5 {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                margin: 0;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                margin: 0;
            }
        }
    }
}