.manager-wrapper {
  display: flex;
  position: relative;
  .manager-content-wrapper {
    flex: 1;
    margin-top: 66px;
  }
}


.content-of-manager{
  padding: 24px;

  .manager-page-title{
    font-size: 2.8rem,;
    font-weight: 700;
    text-align: center;
    margin-bottom: 42px;
  }


  .food-toogle{
    background-color: #fff;
    border: 1px solid #666;
    color: rgb(102, 102, 102);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 12px;
    display: inline-block;
    margin-right: 12px;
    border-radius: 15px;
    
  }
  .food-toogle.actived{
    background-color: var(--primary-color);
    color: #fff;
  }
}


