.detail-voucher {
  h1 {
    font-size: 2.4rem;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 12px 0;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 12px;
    line-height: 1.6;
  }

  .voucher-information {
    margin-top: 42px;
  }
}
