.search-wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin-top: 11rem;
  .search-title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .product-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .product-sort {
      display: flex;
      align-items: center;

      label {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        margin-right: 2rem;
        color: #000000;
      }

      select {
        width: 15rem;
        height: 4rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #7f7f7f;
      }

      button {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 20px;
        margin-left: 2rem;
        padding: 0.5rem;

        border: 1px solid #7f7f7f;
      }
    }

    .result-filter {
      p {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        color: #000000;
        margin: 1rem 0rem 0rem;
      }
    }
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    max-width: 100%;
    margin-left: -8px;
    margin-right: -8px;

    .py-3 {
    }

    .product-list-footer {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 1.5rem;
    }

    .product-card.discount-product {
      padding: 0 8px;
    }
  }
}

.order-detail-wrapper {
  h1 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 14px;
    margin-top: 18px;
    line-height: 100%;
  }

  .infomation-wrapper {
    margin-bottom: 18px;
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
    margin-right: 8px;
    color: rgb(143, 0, 0);
  }

  .display-flex {
    align-items: center;
    margin-bottom: -4px;
  }
  .infomation-content {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .receipt-brief-wrapper {
    .display-flex {
      margin-top: 3px;
      margin-bottom: 6px;

      &:last-child {
        border-top: 1px solid rgb(105, 105, 105);
      }
    }
  }

  .receipt-brief,
  .money-formatter {
    margin-top: 8px;
    font-size: 1.4rem;
    font-weight: 500;
  }
}
