@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");


html{
  font-size: 62.5% !important;
  line-height: 1.6em;
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
}

:root {
  --fade-text-color: #747474;
  --background-color: #fff;
  --foreground-color: #000;
  --hover-background-color: #DEDEDE;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
} 

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}