@import "~bootstrap/scss/bootstrap";

.footer{
    h1{
        margin-bottom: 0px;
    }
    p{
        margin: 0px;
        padding: 4px 0px;
    }
    a{
        color: #353535;
        text-decoration: none;
    }
    //font-family: Noto Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    padding:60px 12px;
    height: 252px;
    svg{
        height: 16px;
        width: 16px;
        padding: 0px 2px;
    }
}