@import "~bootstrap/scss/bootstrap";

.header-wrapper{
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;       
    box-shadow: 2px 2px 5px #7F7F7F;
    z-index: 110;
        .header{
            .nav-1{
                .nav-1a{
                    display: flex;
                    align-items: center;
                    color: #000000;
                    font-weight: bold;
                    p{
                        margin: 0;
                    }
                }
                .nav-1b{
                    .nav-item{
                        &:hover{
                            font-weight: 500;
                            color: #000000;
                            svg:first-child{
                                color: #000000;
                            }
                        }
                        .active{
                            font-weight: 500;
                            color: #000000;
                        }
                        .active> svg:first-child{
                            color: #000000;
                        }
                        a{
                            svg {
                                padding-right: 6.5px;
                                color: #7F7F7F;
                            }
                            color: #252A2B;
                            padding: 8px 16px;
                            text-decoration: none;
                        }
                        display: flex;
                        align-items: center;
                        height: 30px;
                    }
                    display: flex;
                    justify-content: flex-end;
                }
                font-family: Montserrat;
                font-size: 13px;
                line-height: 16px;
            }
        
            .nav-2{
                .nav-2-webName{
                    h1{
                        margin: 0px;
                        //font-family: Noto Sans;
                        font-weight: bold;
                        font-size: 40px;
                        line-height: 65px;
                    }
                }
                .nav-2-pages{
                    .navbar{
                        justify-content: flex-end;
                        .nav-link{
                            color: #000000;
                            padding: 8px 11px;
                            text-align: center;
                            &:hover{
                                color: #6c6c6c;
                            }
                        }
                        .active{
                            color: #6c6c6c;
                        }
                        .form-search{
                            input{
                                border: none;
                                background-color: transparent;
                            }
                            .form-control:focus{
                                border: none;
                                box-shadow: none;
                            }
                            .btn-search{
                                background-color: transparent;
                                color: #252A2B;
                                border: none;
                            }
                            border: 1px solid #000000;
                            border-radius: 25px;
                        } 
                        .form-search:focus-within{
                            box-shadow: 0 0 0 0.15rem rgba(44, 44, 44, 0.25);
                        }
                        
                    }
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                }
                display: flex;
                align-items: center;
            }
            background-color: #FFFFFF;
        }
}